<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Provenir</title>

        <!-- Bootstrap core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- Documentation extras -->
        <link href="css/docs.css" rel="stylesheet">
        <!-- <link href="css/pygments-manni.css" rel="stylesheet"> -->
        <!--[if lt IE 9]><script src="./docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <!-- Favicons -->
        <!-- <link rel="apple-touch-icon-precomposed" sizes="144x144" href="./docs-assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="shortcut icon" href="./docs-assets/ico/favicon.png"> -->
    </head>

    <body class="bs-docs-home">
        <a class="sr-only" href="#content">Skip to main content</a>
        <!-- Docs master nav -->
        <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand">Provenir</a>
                </div>
                <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                          <a href="./about">About</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>


        <!-- Page content of course! -->
        <main class="bs-masthead">
            <div class="container">
                <div class="col-lg-8">
                    <div class="input-group input-group-lg">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Search</button>
                        </span>
                    </div><!-- /input-group -->
                    <br>
                    <p class="lead">Popular searches: </p>
                </div><!-- /.col-lg-8 -->
            </div>
        </main>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/holder.js"></script>
        <script src="js/application.js"></script>
    </body>
</html>
